footer.footer   
    .footer__row.footer__row--shodow
        .container.container--footer
            .footer__column--big
                .logo
                    .logo__svg
                        img(src="./img/header-logo.svg", alt="")
                    .logo__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__column 
                .navigation
                    .footer__title навигация
                    ul.navigation__menu
                        li.menu__item
                            a(href="") О нас
                        li.menu__item
                            a(href="") Новости
                        li.menu__item
                            a(href="") Служба поддержки
                        li.menu__item
                            a(href="") Услуги
            .footer__column
                .about
                    .footer__title о нас
                    ul.about__menu
                        li.menu__item
                            a(href="") О сервисе
                        li.menu__item
                            a(href="") Наша команда
                        li.menu__item
                            a(href="") Вакансии
                        li.menu__item
                            a(href="") Инвесторы

            .footer__column
                .support 
                    .footer__title Служба поддержки
                    ul.support__menu
                        li.menu__item
                            a(href="") Соглашения
                        li.menu__item
                            a(href="") Сообщества
                        li.menu__item
                            a(href="") Связь с нами


            .footer__column--big
                .subscribe
                    .footer__title Подписка
                    .subscribe__text Получайте специальные предложения и новости сервиса
                    .subscribe__input-email 
                        input(type= "email", name="" placeholder= "Email")
                        .arrow
                            span

    .footer__row
        .container
            .copyright Copyright © 2018 Toxin отель. Все права зачищены.
            .social-network
                a
                    img(src="./img/twitter.svg", alt="")
                a
                    img(src="./img/facebook.svg", alt="")
                a
                    img(src="./img/instagram.svg", alt="")   