footer.footer   
    .footer__row
        .container
            .footer__column--big
                .logo
                    .logo__svg
                    .logo__text   
            .footer__column 
                .navigation_
                    .navigation__title навигация
                    ul.navigation__menu
                        li.menu__item
                            a(href="") О нас
                        li.menu__item
                            a(href="") Новости
                        li.menu__item
                            a(href="") Служба поддержки
                        li.menu__item
                            a(href="") Услуги
            .footer__column
                .about
                    .about__title о нас
                    ul.about__menu
                        li.menu__item
                            a(href="") О сервисе
                        li.menu__item
                            a(href="") Наша команда
                        li.menu__item
                            a(href="") Вакансии
                        li.menu__item
                            a(href="") Инвесторы

            .footer__column
                .support 
                    .support__title Служба поддержки
                    ul.support__menu
                        li.menu__item
                            a(href="") Соглашения
                        li.menu__item
                            a(href="") Сообщества
                        li.menu__item
                            a(href="") Связь с нами


        .footer__column--big
            .subscribe
                .subscribe__title Подписка
                .subscribe__text Получайте специальные предложения и новости сервиса
                .subscribe__input-email 
                    input(type= "email", name="")

    .footer__row
        .container
            .copyright
            .social-network
            