header.header
    .container
        .logo
            .logo__svg
                img(src="./img/header-logo.svg", alt="")
        nav.header__nav
            ul.nav__menu
                li.nav__item 
                    a(href="#") О нас
                li.nav__item.nav__item--arrow 
                    a(href="#") Услуги
                li.nav__item 
                    a(href="#") Вакансии
                li.nav__item 
                    a(href="#") Новости
                li.nav__item.nav__item--arrow
                    a(href="#") Соглашения 
            .nav__buttons
                .button-sign-up
                    button войти
                .button-registration 
                    button зарегистрироваться