section.wrapper-for-form
    .container
        form.form
            h2.form__title Регистрация аккаунта
            .form__name 
                input(class= "form__input", type= "text", placeholder= "Имя" required)
            .form__lastname
                input(class= "form__input", type= "text", placeholder= "Фамилия" required)
            label.form__gender
                input(class= "gender-input",type="radio",name="gender", value="man" required) 
                span.fake
                p Мужчина
            label.form__gender
                input(class= "gender-input",type="radio",name="gender", value="woman" required) 
                span.fake
                p Женщина

            h3.form__birthday-text дата рождения
            input(class= "form__birthday form__input",type= "date", name="" required)

            h3.form__data-sign-up-text данные для входа в сервис
            input(class= "form__data-sign-up-email form__input" type= "email", name="", placeholder= "Email" required)
            input(class= "form__data-sign-up-password form__input" type= "password", name="", placeholder= "Пароль" required)
            
            .form__subscribe
                label.switch
                    input(class= "subscribe__text", type= "checkbox", name="")
                    span.slider
                p Получать спецпредложения


            button.form__authorization-button перейти к оплате

            .form__link-sign-up
                .link-sign-up__text Уже есть аккаунт на Toxin
                a.link-sign-up__button(href="../sign_in/") войти
                
    .main-screen__bg.ibg
        img(src="../img/bg.jpg", alt="")