section.content

    .container
        .content__column
            .content__intelligence
                .intelligence__row
                    .intelligence__column
                        .intelligence__about_room
                            .about_room__title 
                                h2 Сведения о номере
                            .about_room__list
                                .about_room__item
                                    .about_room__svg
                                        img(src="", alt="", srcset="")
                                    .about_room__text
                                        h3 Комфорт
                                        span Шумопоглощающие стены

                                .about_room__item
                                    .about_room__svg
                                        img(src="", alt="", srcset="")
                                    .about_room__text
                                        h3 Удобство
                                        span Окно в каждой из спален
                                        
                                .about_room__item
                                    .about_room__svg
                                        img(src="", alt="", srcset="")
                                    .about_room__text
                                        h3 Уют
                                        span Номер оснащён камином

                    .intelligence__column
                        .intelligence__chart
                            .chart__title 
                                h2 Впечатления от номера
                            .chart-container
                                <canvas id="myChart"></canvas>
                                .chart-title <span> 260 </span> голосов

                                .list-container
                                    ul
                                        li Великолепно
                                        li Хорошо
                                        li Удовлетворительно
                                        li Разочарован

                .intelligence__row
                    .intelligence__reviews
                        .reviews__header 
                            .header__title Отзывы посетителей номера
                            .header__count_reviews 2 отзыва
                        .reviews__list
                            .reviews__item
                             //????


                .intelligence__row
                    .intelligence__rules_services
                        .rules_services__rules
                            .rules__title
                                h2 Правила
                            ul.rules__list
                                li.rules__item Нельзя с питомцами
                                li.rules__item Без вечеринок и мероприятий
                                li.rules__item Время прибытия — после 13:00, а выезд до 12:00

                            .rules_services__rules_cancel
                                .rules_cancel__title 
                                    h2 Отмена
                                .rules_cancel_text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
   
        .content__column
            .content__form