section.wrapper-for-form
    .container
        form.form
            h2.form__title Войти
            input(class= "form__data-sign-up-email form__input" type= "email", name="", placeholder= "Email")
            input(class= "form__data-sign-up-password form__input" type= "password", name="", placeholder= "Пароль")
            button.form__authorization-button войти

            .form__link-sign-up
                .link_sign-up__text Нет аккаунта на Toxin?
                button.link-sign-up__button создать
    .main-screen__bg.ibg
        img(src="./img/bg.jpg", alt="")